
html {
    font-size: 125%;
    scroll-behavior: smooth;
}

p, h1, li,ul, h2 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    font-size: 1rem;
    padding: 10px;
    font-family: 'IBM Plex Mono', monospace;
    
    

}



.blinking {
    animation: blinking infinite steps(1) 1s;
    padding-left: 0;
}

span {
    margin: 0 3px;
    padding: 0 5px;
    color: white;
    text-shadow: $thirdColor 2px 2px;
    
}


header {
    background-color: $thirdColor;
    // height: 5vh;
    text-align: center;
    min-height: 5vh;
    padding: 5px;
}

header h2 {
    display: none;
    font-size: 1rem;
}

main {
    min-height: 90vh;
    background-color: lemonchiffon;

    @include mq-phone {
        height: auto;
    }
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1400px;

    @include mq-small-desktop{
        width: 90%;
    }
}

footer {
    background-color: $thirdColor;
    min-height: 5vh;
    color: $mainColor;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Aldrich', sans-serif;
    padding: 10px;
    padding: 5px;

}

footer ul {
    display: flex;
    padding-left: 40px;
    justify-content: space-between;
    width: 150px;
}



h1 {
    color: $mainColor;
    letter-spacing: 10px;
    text-shadow: rgb(110, 12, 12) 3px 3px 0px;
    font-family: 'Aldrich', sans-serif;

    @include mq-tablet {
        text-align: center;
    }
}

h2 {
    font-family: 'Aldrich', sans-serif;
    color: $mainColor;
    font-size: 1.3rem;
}

.introduction {
    // height: 50%;
    width: 50%;
    background-color: $thirdColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $secondColor;  
    padding: 40px 20px;
    font-family: 'Aldrich', sans-serif;
    // box-shadow: $mainColor 10px 10px;
    border: $mainColor solid 5px;
    max-width: 800px;

    @include mq-small-desktop {
        width: 70%;

    }

    @include mq-tablet {
        width: 95%;
    }

    // font-family: 'VT323', monospace;

    
}

.introduction p {
    padding: 20px 0;


}

.input {
    
    flex-grow: 1;
    flex-basis: 30%;
    margin: 5px;
    text-shadow: $thirdColor 1px 1px;
    color: white;

    @include mq-phone {
        flex-basis: initial;
    }

}

.input1{
    background-color: rgb(255, 0, 0);
    
}

.input2{
    background-color: rgb(185, 111, 0);
    
}

.input3{
    background-color: rgb(64, 172, 2);
}

.input4{
    background-color: rgb(0, 89, 255);
}

.input5{
    background-color: rgb(162, 0, 255);
}

.input6{
    background-color: rgb(0, 158, 163);
}

.inputBoard {
    box-shadow: 20px 20px $secondColor;
}

.rightPannel button {
    box-shadow: 0px 5px 0px rgb(100, 100, 100);
    position: relative;
    top: 0;
    transition: all ease 0.3s;
}



.rightPannel button:active {
    top: 3px;
    box-shadow: 0px 3px 0px rgb(100, 100, 100);

}

.rightPannel button:focus {
    outline: solid 2px $thirdColor;
    outline-offset: -5px;
}


.userInputOptions {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.clearAndEnter {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.gameBoard {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq-tablet {
        flex-direction: column;
    }
}

.guessesAndFeedback {
    width: 60%;
    padding: 30px;
    // border:solid 10px rgb(58, 57, 57);
    border: solid 40px $thirdColor;
    border-radius: 5px;
    margin: 40px 0;
    font-size: 1.2rem;
    font-family: 'Turret Road', cursive;

    font-family: 'IBM Plex Mono', monospace;

    font-family: 'Aldrich', sans-serif;

    font-family: 'VT323', monospace;

    font-family: 'Inconsolata', monospace;

    background-color: $thirdColor;
    box-shadow: -20px -20px $secondColor;
    position: relative;
    color: $mainColor;
    outline: $mainColor 2px solid;
    outline-offset: -10px;
    // min-width: 580px;
    min-height: 550px;

    @include mq-tablet {
        width: 100%;
        margin: 20px 0 0;

        
    }

    @include mq-phone {
        border: solid 20px $thirdColor;
        padding: 0;
        box-shadow: none;
        min-height: 375px;
        font-size: 1rem;
    }
    


}

.guessesAndFeedback::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 4;
    background: linear-gradient(#444 50%, #000 50%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity: .14;
    box-shadow : inset 0px 0px 1px 1px rgba(0, 0, 0, .8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: pulse 5s alternate infinite;
}

.guessesAndFeedback::before {
    content: "";
    position: absolute;
    width: 100%;
    z-index: 5;
    right: 0;
    top: 0;
    left: 0;
    height: 1px;
    background-image:  linear-gradient(to bottom, rgba(255,0,0,0) 0%,#444 50%,rgba(124, 119, 119, 0.98) 51%,rgba(255,0,0,0) 100%);
    opacity: 0.75;
    animation: move linear infinite 15s;
    
    // outline: $mainColor 2px solid;
}

.guess {
    display: flex;
    justify-content: space-between;
    min-height: 35px;
    @include mq-phone {
        justify-content: start;
        min-height: 25px;
    }
    
}

.guess:first-of-type{
    text-decoration: underline;
    margin-bottom: 5px;
}

.guess:first-of-type::after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $mainColor;
    position: absolute;
    bottom: -20px;
    left: -20px;
    animation: blinking linear infinite 0.5s;
}

.guess p {
    width: calc(100%/3);
    display: flex;
    align-items: center;
    @include mq-phone {
        width: 45%;
    }
    
}

.guess p:first-child {
    @include mq-phone {
        width: 10%;
    }
}

.rightPannel {
    position: relative;
}

.time {
    position: absolute;
    top: -50px;
    font-family: 'IBM Plex Mono', monospace;

    @include mq-tablet {
        position: initial;
        text-align: center;
        padding: 10px 0;
    }

}

.inputBoard {
    background-color: $thirdColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}


.feedback,.userGuess {
    width: calc(100%/3);
    display: flex;
    align-items: center;
    
}

.userGuess {
    padding-left: calc(100%/3/3);

    @include mq-phone {
        padding: 0;
    }
}



.feedback {
    justify-content: end;

    @include mq-phone {
        justify-content: start;
    }
}

.feedbackSquares {
    width: 20px;
    height: 20px;
    border: solid 2px $thirdColor;
    background-color: white;
    
}

.exact {
    background-color: $mainColor;
}

.misplaced{
    background-color: red;
}


.stopButtonContainer {
    width: 200px;
    height: 150px;
    background-color: rgb(175, 170, 170);
    margin-top: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    @include mq-tablet {
        margin: 40px auto;
    }
    
}

.stopButtonDoor {
    
    background-color: grey;
    position: absolute;
    top: 0;
    left: 0;
    // bottom: 0;
    height: 100%;
    right: 0;
    z-index: 1;
    transition: all 0.5s;
    outline: $thirdColor solid 3px;
    outline-offset: -10px;
    border: $thirdColor 2px solid;
    
}

.stopButtonDoor::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $thirdColor;
    right: 50%;
    transform: translate(50%);
    bottom: 30px;
}


.rightPannel .stopButton {
    width: 100px;
    height: 100px;
    background-color: rgb(182, 29, 29);
    border-radius: 50%;
    box-shadow: 0px 5px 0px rgb(99, 2, 2) ;
    color: white;
    top: 0;
    position: relative;
}

.open {
    animation: open forwards linear 1 2s;
}



.timeDown {
    animation: timeDown 1 alternate 0.5s;
}

@keyframes timeDown {
    0%,40%,80% {
        transform: translate(-20px);
    }

    20%,60%,100% {
        transform: translate(20px);
    }
    50% {
        color: rgb(255, 0, 0);
        // transform: scale(1.5);
    }

    100% {
        color: $thirdColor;
        // transform: scale(1);
    }
}


@keyframes blinking {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.001);  opacity: .34;
    }
    8% {
            transform: scale(1.000);  opacity: .13; }
    15% {
        transform: scale(1.004);  opacity: .44;
    }
    30% {
        transform: scale(1.002);  opacity: .21;
    }
    100% {
        transform: scale(1.000);  opacity: .14;
    }
}

@keyframes move {
    40%,100% {
        top: 100%;
    }
}

@keyframes open {
    to{
        top: -90%; 
    }
}

